<!-- dialog-box.component.html -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex>
        <h1 mat-dialog-title>{{mode}} Product</h1>
    </div>
    <div fxFlex="5">
        <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<div class="example-container" *ngIf="isVisible==1">
    <div mat-dialog-content>
        <div *ngIf="action != 'Delete'; else elseTemplate">
            <form [formGroup]="productForm" (ngSubmit)="submitForm()">
                <div *ngIf="isVisibleId">
                    <mat-form-field>
                        <input matInput formControlName="id" placeholder="Id">
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <input placeholder="Name" matInput formControlName="name" required>
                </mat-form-field>
                <mat-form-field>
                    <input placeholder="Description" matInput formControlName="description" required>
                </mat-form-field>

                <mat-form-field>
                    <input placeholder="Price" matInput formControlName="price" required>
                    <span matPrefix>Php.&nbsp;</span>
                </mat-form-field>

                <mat-form-field>
                    <input placeholder="Image URL" matInput formControlName="imgURL" required>
                </mat-form-field>

                <span>Status </span>
                <mat-slide-toggle color="primary" (click)="slideToggle()" [checked]="product.isActive">
                    <span *ngIf="isActive">Active</span>
                    <span *ngIf="!isActive">Inactive</span>
                </mat-slide-toggle>
                <br><br>

                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select [formControl]="category" multiple>
                        <mat-option *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="submitForm()" mat-flat-button color="primary">{{mode}}</button>
        <button mat-button (click)="closeDialog()" color="">Cancel</button>
    </div>
</div>
<div class="example-container" *ngIf="isVisible==2">
    <h5> Do you want to delete <strong> {{product.name}} </strong>?</h5>
    <div fxLayout="row" fxLayoutWrap="wrap">
        <div class="row" fxFlex>
            <button (click)="deleteProduct()" mat-flat-button color="primary" fxFlex>Yes</button>
        </div>
        <div class="row" fxFlex>
            <button class="btn" (click)="closeDialog()" mat-flat-button color="">Cancel</button>
        </div>
    </div>
</div>