<div class="mat-elevation-z8">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
      <div fxFlex="25">
        <h3>Category</h3>

      </div>
      <div fxFlex.gt-lg="70" fxFlex.gt-xs="70" fxFlex="70">
        <mat-form-field id="searchBar">
          <input  [(ngModel)]="searchString" matInput placeholder="Search for category">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex>
        <button id="add_product" color="primary" matTooltip="Add Category" mat-icon-button
          (click)="openDialog('Create',{})" fxFlex.gt-lg="5" fxFlex.gt-xs="5" fxFlex="5">
          <i class="fa fa-plus-circle fa-3x"></i>
        </button>
        <!-- <button id="add_product" color="primary" matTooltip="Add Category" mat-icon-button
          (click)="showCategory()" fxFlex.gt-lg="5" fxFlex.gt-xs="5" fxFlex="5">
          <i class="fa fa-plus-circle fa-3x"></i>
        </button> -->
      </div>
    </div>

  </div>
  <table mat-table [dataSource]="display()">

    <ng-container matColumnDef="id">
      <th class="id" mat-header-cell *matHeaderCellDef> Id </th>
      <td class="id" mat-cell *matCellDef="let item"> {{item.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th class="name" mat-header-cell *matHeaderCellDef> Name </th>
      <td class="name" mat-cell *matCellDef="let item"> {{item.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th class="description" mat-header-cell *matHeaderCellDef> Description </th>
      <td class="description" mat-cell *matCellDef="let item"> {{item.description}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th class="status" mat-header-cell *matHeaderCellDef> Status </th>
        <td class="status" mat-cell *matCellDef="let item">
          <mat-slide-toggle [color]="primary" [checked]="item.isActive" ></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th class="action" mat-header-cell *matHeaderCellDef> Action </th>
      <td class="action" mat-cell *matCellDef="let item">
        <button color="basic" mat-icon-button matTooltip="View Sub Categories" (click)="openDialog('View Sub',item)">
          <i class="fa fa-bars fa-2x"></i>
        </button>
        <button color="accent" mat-icon-button matTooltip="Add Sub Category" (click)="openDialog('AddSub',item)">
          <i class="fa fa-plus fa-2x"></i>
        </button>
        <button color="primary" mat-icon-button matTooltip="Update Category" (click)="openDialog('Update',item)">
          <i class="fa fa-pencil fa-2x"></i>
        </button>
        <button color="warn" mat-icon-button matTooltip="Delete Category" (click)="openDialog('Delete',item)">
          <i class="fa fa-trash fa-2x"></i>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 10]" showFirstLastButtons></mat-paginator>
</div>