<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex>
    <h4> {{mode}} Category </h4>
  </div>
  <div fxFlex="5">
    <button (click)="onNoClick()" mat-icon-button aria-label="Example icon-button with a heart icon"
      (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="example-container" *ngIf="isVisible==1">
  <form [formGroup]="categoryForm" (ngSubmit)="submitForm()">
    <div *ngIf="isVisibleId">
      <mat-form-field>
        <input matInput formControlName="id" placeholder="Id">
      </mat-form-field>
    </div>


    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name" #name>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput formControlName="description" placeholder="Desciption" #description></textarea>
    </mat-form-field>

    <span>Status </span>
    <mat-slide-toggle color="primary" (click)="slideToggle()"[checked]="category.isActive">
      <span *ngIf="isActive">Active</span>
      <span *ngIf="!isActive">Inactive</span>
    </mat-slide-toggle>
    <br><br>

    <div fxLayout="row" fxLayoutWrap="wrap">
      <div class="row" fxFlex>
        <button type="submit" [disabled]="!categoryForm.valid" mat-flat-button color="primary" fxFlex>{{mode}}</button>
      </div>
      <div class="row" fxFlex>
        <button class="btn" (click)="onNoClick()" mat-flat-button color="">Cancel</button>
      </div>
    </div>
  </form>
</div>

<div class="example-container" *ngIf="isVisible==2">
  <h5> Do you want to delete this? </h5>
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div class="row" fxFlex>
      <button (click)="deleteCategory()" mat-flat-button color="primary" fxFlex>Yes</button>
    </div>
    <div class="row" fxFlex>
      <button class="btn" (click)="onNoClick()" mat-flat-button color="">Cancel</button>
    </div>
  </div>
</div>

<div class="example-container" *ngIf="isVisible==3">
  <mat-list>
    <mat-list-item>Sub Category 1</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sub Category 2</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sub Category 3</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sub Category 4</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sub Category 5</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sub Category 6</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Sub Category 7</mat-list-item>
  </mat-list>
</div>

<div *ngIf="isVisible==4">
  <div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-lg="100" fxFlex.gt-xs="100" fxFlex="100">
      <div class="row" fxFlex="5"></div>
      <div class="row" fxFlex="43">
        <mat-form-field>
          <input matInput formControlName="sub_id" placeholder="Enter Category ID">
        </mat-form-field>
      </div>
      <div class="row" fxFlex></div>
      <div class="row" fxFlex="43">
        Status: &nbsp; <strong>{{status}}</strong>
      </div>
    </div>
  </div>

  <mat-form-field>
    <input matInput placeholder="Name" #name>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput  placeholder="Desciption"></textarea>
  </mat-form-field>

  <div fxLayout="row" fxLayoutWrap="wrap">
    <div class="row" fxFlex>
      <button type="submit"  mat-flat-button color="primary" fxFlex>{{mode}}</button>
    </div>
    <div class="row" fxFlex>
      <button class="btn" (click)="onNoClick()" mat-flat-button color="">Cancel</button>
    </div>
  </div>
</div>