.example-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .example-container > * {
    width: 100%;
  }

  button {
    float: right;
  }

  button.btn {
    width: 100%;
  }

  mat-list { 
    max-height: 300px;
    overflow: auto;
   }
