<div fxFlex.gt-lg="100" fxFlex.gt-xs="100" fxFlex="100">
    <div class="row" fxFlex></div>
    <div class="row" fxFlex="50">
      <mat-card>
        <div class="wrapper">
          <div>
            <h3>Forgot Password</h3>
          </div>
          <mat-form-field>
            <input matInput placeholder="Enter your email" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
            <button mat-raised-button color="primary">Submit</button>
            <br><br><br>
            <a href="pages/login"><small> Back to login? </small></a>
            <br><br>
            <small> Didn't have an account? </small>
            <a href="pages/register"><small> Sign up now! </small></a>
        </div>
      </mat-card>
    </div>
    <div class="row" fxFlex></div>
  </div>