table {
    width: 100%;
    float: left; 
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  

  #searchBar {
    width: 80%;
    font-size: 0.8em;
    padding: 2%;
    float: right;
  }

  #add_product {
    padding: 5%;
    float: right;
  }

  h3 {
    padding: 2%;
    margin-left: 2%;
  }

  .action {
    width: 25%;
  }

  .id, .status {
    width: 10%;
  }

  .name {
    width: 30%;
  }

  mat-chip {
    padding: 8%;

  }

  img {
    width: auto;
    height: 100px;
  }

